@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>
<hr />
<h4><a href="/Statistics/TopXArtists">Top Artists</a></h4>
<h4><a href="/Statistics/Top10Tracks">Top Tracks</a></h4>
<h4><a href="/Statistics/TopGenres">Top Genres</a></h4>