@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" id="home-jumbotron" style="margin-top:-30px">
    <h1>TrackRecord </h1>
    <p class="lead">Your #1 choice for music.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>  

<div id="actions">
    <div id="actions">
        <div class="action-container">
            <a href="/Artists/Index">
                <div class="action">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <h2>Artists</h2>
                </div>
            </a>
        </div>
        <div class="action-container">
            <a href="/Albums/Index">
                <div class="action">
                    <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
                    <h2>Albums</h2>
                </div>
            </a>
        </div>
        <div class="action-container">
            <a href="/Customers/Index">
                <div class="action">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <h2>Customers</h2>
                </div>
            </a>
        </div>
        <div class="action-container">
            <a href="/Employees/Index">
                <div class="action">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    <h2>Employees</h2>
                </div>
            </a>
        </div>
        <div class="action-container">
            <a href="/Genres/Index">
                <div class="action">
                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    <h2>Genres</h2>
                </div>
            </a>
        </div>
        <div class="action-container">
            <a href="/Invoices/Index">
                <div class="action">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    <h2>Invoices</h2>
                </div>
            </a>
        </div>
        <div class="action-container">
            <a href="/InvoiceLines/Index">
                <div class="action">
                    <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                    <h2>Invoice Lines</h2>
                </div>
            </a>
        </div>
        <div class="action-container">
            <a href="/MediaTypes/Index">
                <div class="action">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                    <h2>Media Types</h2>
                </div>
            </a>
        </div>
        <div class="action-container">
            <a href="/Playlists/Index">
                <div class="action">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    <h2>Playlists</h2>
                </div>
            </a>
        </div>
        <div class="action-container">
            <a href="/Tracks/Index">
                <div class="action">
                    <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                    <h2>Tracks</h2>
                </div>
            </a>
        </div>
        <div class="action-container">
            <a href="/Statistics/Index">
                <div class="action">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    <h2>Statistics</h2>
                </div>
            </a>
        </div>
    </div>
</div>